# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist
.next
.turbo

# Misc
.DS_Store
.env*
!.env.example
*.log

# IDE
.idea
.vscode

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/